<h1><%= params[:type].titleize %></h1>

<%= show_no_record(@result) do %>
  <table class="data-table">
    <tr>
      <th>Email</th>
      <th>Status</th>
      <th>Reason</th>
      <th width="120">Created At</th>
    </tr>

  <% @result.each do |record| %>
    <tr class="even">
      <td><%= record["email"] %></td>
      <td><%= record["status"] %></td>
      <td><%= record["reason"] %></td>
      <td><%= record["created"] %></td>
    </tr>
  <% end %>
  </table>
<% end %>